@import "_variables";
@import "_mixins";

.instruments-section__bg {
  background-image: url(../img/frontend.jpg);
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/frontend@2x.jpg);
  }
}

.instruments-section__static {
  height: fit-content;
  padding-bottom: 15px;
  padding-top: 15px;
}

.title-section {
  margin: auto;
  font-size: 40px;
  padding: 0 10px;
}

.list-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -75px;
}

.item-feature {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-bottom: 40px;
}

.img-feature {
  opacity: 0.8;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

@media screen and (min-width: 960px) {
  .list-features {
    margin-left: 0;
  }

  .item-feature {
    width: 200px;
    height: 200px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .img-feature {
    width: 80px;
  }

  .img-feature__less,
  .img-feature__sass,
  .img-feature__git {
    width: 100px;
  }
}
